@model Back_Progetto_S5_L5_PoliziaMunicipale.Models.Entity.Anagrafica

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sicuro di voler eliminare?</h3>
<div>
    <h4>Anagrafica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cognome
        </dt>
        <dd class="col-sm-10">
            @Model.Cognome
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Indirizzo
        </dt>
        <dd class="col-sm-10">
            @Model.Indirizzo
        </dd>
        <dt class="col-sm-2">
            Citta
        </dt>
        <dd class="col-sm-10">
            @Model.Citta
        </dd>
        <dt class="col-sm-2">
            Cap
        </dt>
        <dd class="col-sm-10">
            @Model.Cap
        </dd>
        <dt class="col-sm-2">
            CodiceFiscale
        </dt>
        <dd class="col-sm-10">
            @Model.CodiceFiscale
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-controller="Anagrafica" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Elimina" class="btn btn-danger"> Elimina </button>
        <a asp-action="Index">Torna Indietro</a>
    </form>
</div>
