@model Back_Progetto_S5_L5_PoliziaMunicipale.Models.Entity.Anagrafica

@{
    ViewData["Title"] = "Dettagli";
}

<h4>Dettagli anagrafica</h4>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Cognome
        </dt>
        <dd class="col-sm-10">
            @Model.Cognome
        </dd>
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Indirizzo
        </dt>
        <dd class="col-sm-10">
            @Model.Indirizzo
        </dd>
        <dt class="col-sm-2">
            Citta
        </dt>
        <dd class="col-sm-10">
            @Model.Citta
        </dd>
        <dt class="col-sm-2">
            Cap
        </dt>
        <dd class="col-sm-10">
            @Model.Cap
        </dd>
        <dt class="col-sm-2">
            CodiceFiscale
        </dt>
        <dd class="col-sm-10">
            @Model.CodiceFiscale
        </dd>
    </dl>
</div>
<div class="mt-3 d-flex gap-2">
    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Salva</a>
    <a class="btn btn-secondary btn-sm" asp-action="Index">Annulla</a>
</div>
