@model IEnumerable<Back_Progetto_S5_L5_PoliziaMunicipale.Models.Entity.Anagrafica>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between align-items-center my-3">
    <h1>Lista Anagrafiche</h1>
    <a class="btn btn-primary btn-rounded btn-sm" asp-action="Create">Crea Nuova</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Cognome
            </th>
            <th>
                Nome
            </th>
            <th>
                Indirizzo
            </th>
            <th>
                Citta
            </th>
            <th>
                Cap
            </th>
            <th>
                CodiceFiscale
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Cognome
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.Indirizzo
                </td>
                <td>
                    @item.Citta
                </td>
                <td>
                    @item.Cap
                </td>
                <td>
                    @item.CodiceFiscale
                </td>
                <td class="py-3">
                    <a class="text-decoration-none text-white bg-secondary rounded-3 px-2 py-1" asp-action="Details" asp-route-id="@item.Id">Dettagli</a>
                    <a class="text-decoration-none text-white bg-primary rounded-3 px-2 py-1 mx-3" asp-action="Edit" asp-route-id="@item.Id">Modifica</a>
                    <a class="text-decoration-none text-white bg-danger rounded-3 px-2 py-1" asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
